<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Projeto com Node</title>
</head>

<body class="bg-secondary text-white">
  <nav class="navbar navbar-light bg-dark p-2">
    <img src="https://nodejs.org/static/images/logo.svg
    " width="100" height="80" class="d-inline-block align-top" alt="">
    <form class="form-inline">
      <a href="./login.ejs" class="btn btn-outline-success">Login</a>
      <a href="#" class="btn btn-outline-success">Register</a>
    </form>
  </nav>

  <main class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-sm  align-items-center">
          <img src="https://www.azulschool.net/wp-content/uploads/2020/05/node-01.png" class="border border-success rounded img-fluid" alt="">
          <p class="p-5 paragrafo">Node.js é um ambiente de execução JavaScript que permite executar aplicações desenvolvidas com a linguagem de forma autônoma, sem depender de um navegador. Com ele, é possível criar praticamente qualquer tipo de aplicações web, desde servidores para sites estáticos e dinâmicos, até APIs e sistemas baseados em microserviços. <br>
            <br>
            Atualmente, o Node.js é mantido pela OpenJS Foundation, uma fundação criada em 2019 com o objetivo de promover a utilização do JavaScript e de suas tecnologias relacionadas.
          </p>
        </div>
        <div class="col-sm  align-items-center">
          <img src="https://wallpaperaccess.com/full/3909236.png" class="border border-success rounded img-fluid" alt="">
          <p class="p-5 paragrafo">A principal característica do Node.js é sua execução ser single-thread, ou seja, os recursos computacionais são alocados apenas uma vez pelo tempo que a aplicação estiver sendo executada. Aplicações multi-thread, como as criadas com PHP, por exemplo, requerem a criação de uma thread a cada nova requisição, e ela não é executada enquanto a anterior não for finalizada.

            O Node.js não é um framework JavaScript, como o React ou o Vue.js, mas sim um ambiente de execução em uma máquina virtual própria para interpretar e executar os scripts de forma autônoma, baseada no “motor” V8, criado pelo Google para o navegador Chrome.</p>
        </div>
        <h1 class="text-center mt-5 titulo">Principais vantagens do NODE.JS</h1>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <img src="https://files.tecnoblog.net/wp-content/uploads/2021/02/o_que_e_node_js-e1612977170388-700x393.jpg" class="border border-success rounded img-fluid rounded mx-auto d-block mt-5" alt="">
              <p class="p-5 paragrafo">Devido ao baixo consumo de recursos e à capacidade de processar várias requisições simultaneamente, o Node.js é muito utilizado em aplicações que requerem uma alta escalabilidade, ou seja, que possam crescer sem perder qualidade ou aumentar os custos.

                Outra vantagem é a possibilidade de manter o ecossistema de aplicações e toda a base de código em uma só linguagem de programação, no caso, o JavaScript. Também há o <a href="https://www.npmjs.com/" class="link">NPM</a> (Node Package Manager), o gerenciador de pacotes do Node.js, que dá acesso a um enorme repositório de bibliotecas e módulos que podem ser adicionadas ao projeto, contendo ferramentas e/ou soluções para os mais diversos problemas e requisitos.

                O Node.js é um software gratuito, de código-aberto e com uma comunidade ativa e participativa. É suportado pelos mais diversos serviços de hospedagem, com AWS, Google Could e Microsoft Azure, e amplamente utilizado em escala industrial por grandes empresas como Netflix, PayPal, Linkedin, entre outras. Você pode saber mais sobre o Node.js acessando o <a href="https://nodejs.org/en/" class="link">site oficial.</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>





  <style>
    .paragrafo {
      font-family: monospace;
      font-weight: bold;
      line-height: 1.6;
    }

    .titulo {
      font-weight: bold;
      color: rgb(9, 241, 9);
    }

    .link {
      text-decoration: none;
      color: rgb(9, 241, 9);
    }
  </style>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>

</html>